body {
  margin: 0;
  background: #222;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 20px 0;
}

.game-area {
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 600px;
  background: #555;
  overflow: hidden;
  border: 3px solid #fff;
}

.player-car, .enemy-car {
  position: absolute;
  width: 50px;
  height: 100px;
  background: red;
  bottom: 10px;
  left: 175px;
}

.enemy-car {
  background: blue;
  top: -100px;
}
